CF_API_TOKEN=CHANGE_ME
CF_ZONE_ID=CHANGE_ME
CF_RECORD_NAME=SubDomainForRecord.yourdomain.net

XRAY_CHECKER_USER=admin
XRAY_CHECKER_PASS=CHANGE_ME

SUBSCRIPTION_URL=https://SubDomainRemnawave.yourdomain.net/CHANGE_ME

MAX_LATENCY_MS=1200
MIN_ALIVE_IPS=1

PROXIED=false
TTL=60

SYNC_INTERVAL=60
HTTP_TIMEOUT=20

DRY_RUN=false
DELETE_STALE_RECORDS=true

LOG_LEVEL=INFO